In [1]:
import pandas as pd
import numpy as np

In [38]:
data_1 = pd.read_csv('farm_Sept2022_Sept2023.csv')
print("There are " + str(len(data_1)) + " observations in the retail prices dataset.")
print("There are " + str(len(data_1.columns)) + " variables in the dataset.")

There are 400 observations in the retail prices dataset.
There are 16 variables in the dataset.

In [39]:
# drop Geography column
data_1.drop(['Geography'], axis=1, inplace=True)

# remove empty rows
data_1.dropna(subset=['Product Name'], inplace=True)

data_1.head(30)

,Product Name,Units,22-Sep,22-Oct,22-Nov,22-Dec,23-Jan,23-Feb,23-Mar,23-Apr,23-May,23-Jun,23-Jul,23-Aug,23-Sep
1,Wheat (except durum wheat) 3,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
2,"Wheat (except durum wheat), milling",Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
3,"Wheat (except durum wheat), other",Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
4,Durum wheat,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
5,Oats,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
6,Barley 4 5,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
7,Barley for animal feed,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
8,Barley for malt and other human consumption,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
9,Soybeans,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
10,Corn for grain,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
11,Flaxseed,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
12,Canola (including rapeseed),Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
13,Rye,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
14,Lentils,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
15,Dry peas,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
16,Canary seeds,Dollars per metric tonne,..,..,..,..,..,..,..,..,..,..,..,..,..
18,Fresh potatoes,Dollars per hundredweight,26.84,26.43,26.38,26.86,27.61,27.16,..,..,..,..,..,..,..
19,Fresh potatoes for seed,Dollars per hundredweight,..,..,..,..,..,..,..,..,..,..,..,..,..
20,Fresh potatoes for table consumption,Dollars per hundredweight,..,..,..,..,..,..,..,..,..,..,..,..,..
21,Fresh potatoes for processing,Dollars per hundredweight,..,..,..,..,..,..,..,..,..,..,..,..,..
22,Cattle for slaughter 6,Dollars per hundredweight,136.8,136.53,136.82,137.67,140.95,147.07,156.68,162.22,169.26,181.78,177.57,174.05,177.17
23,Cows for slaughter,Dollars per hundredweight,90.5,91.15,86.31,81.51,83.87,93.75,101.84,103.31,109.84,117.67,116.05,113.65,119.75
24,Steers for slaughter,Dollars per hundredweight,172.65,171.48,175.32,180.55,184.1,188.49,199.25,208.16,214.43,231.54,225.73,220.72,221.77
25,Heifers for slaughter,Dollars per hundredweight,165.24,164.47,168.22,172.82,176.48,180.29,190.39,198.3,206.64,221.64,214.78,211.3,212.29
26,Calves for slaughter 6,Dollars per hundredweight,206.76,219.03,208.62,193.75,193.47,230.4,253.61,260.85,283.98,290.3,296.61,302.93,309.25
27,Lambs 6 7,Dollars per hundredweight,..,..,..,..,..,..,..,..,..,..,..,..,..
28,Cattle for feeding 6 8,Dollars per hundredweight,187.35,181.09,171.52,152.25,179.89,213.63,210.5,213.62,242.18,248.24,254.3,260.37,266.43
29,Steers for feeding,Dollars per hundredweight,..,..,..,..,..,..,..,..,..,..,..,..,..
30,Heifers for feeding,Dollars per hundredweight,..,..,..,..,..,..,..,..,..,..,..,..,..
31,Calves for feeding 6,Dollars per hundredweight,197.86,209.6,199.64,185.41,185.14,220.48,242.69,249.62,271.75,277.8,283.84,289.89,295.93

In [40]:
cols = data_1.columns.drop(['Product Name', 'Units'])
data_1[cols] = data_1[cols].apply(pd.to_numeric, errors='coerce')
data_1

,Product Name,Units,22-Sep,22-Oct,22-Nov,22-Dec,23-Jan,23-Feb,23-Mar,23-Apr,23-May,23-Jun,23-Jul,23-Aug,23-Sep
1,Wheat (except durum wheat) 3,Dollars per metric tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Wheat (except durum wheat), milling",Dollars per metric tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wheat (except durum wheat), other",Dollars per metric tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Durum wheat,Dollars per metric tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Oats,Dollars per metric tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Hogs 9,Dollars per hundredweight,123.99,119.77,115.02,95.37,95.38,87.13,103.27,95.85,97.56,106.01,119.13,127.00,112.90
394,Chickens for meat 10 11,Dollars per kilogram,3.08,3.03,2.96,3.05,3.07,3.02,3.04,3.07,3.08,3.00,3.02,2.99,3.00
395,Turkeys for meat 11,Dollars per kilogram,3.20,3.27,3.27,3.27,3.27,3.30,3.32,3.34,3.37,3.34,3.34,3.34,3.32
397,Unprocessed milk from bovine 12,Dollars per kilolitre,952.68,975.09,992.50,990.89,974.70,989.79,983.32,972.89,957.95,939.05,948.77,953.24,963.89
399,Eggs in shell 13,Dollars per dozen,2.75,2.76,2.72,2.75,2.80,2.91,2.86,2.80,2.80,2.79,2.83,2.81,2.51

In [41]:
data_1 = data_1.fillna(0)
data_1

,Product Name,Units,22-Sep,22-Oct,22-Nov,22-Dec,23-Jan,23-Feb,23-Mar,23-Apr,23-May,23-Jun,23-Jul,23-Aug,23-Sep
1,Wheat (except durum wheat) 3,Dollars per metric tonne,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,"Wheat (except durum wheat), milling",Dollars per metric tonne,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,"Wheat (except durum wheat), other",Dollars per metric tonne,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Durum wheat,Dollars per metric tonne,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,Oats,Dollars per metric tonne,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Hogs 9,Dollars per hundredweight,123.99,119.77,115.02,95.37,95.38,87.13,103.27,95.85,97.56,106.01,119.13,127.00,112.90
394,Chickens for meat 10 11,Dollars per kilogram,3.08,3.03,2.96,3.05,3.07,3.02,3.04,3.07,3.08,3.00,3.02,2.99,3.00
395,Turkeys for meat 11,Dollars per kilogram,3.20,3.27,3.27,3.27,3.27,3.30,3.32,3.34,3.37,3.34,3.34,3.34,3.32
397,Unprocessed milk from bovine 12,Dollars per kilolitre,952.68,975.09,992.50,990.89,974.70,989.79,983.32,972.89,957.95,939.05,948.77,953.24,963.89
399,Eggs in shell 13,Dollars per dozen,2.75,2.76,2.72,2.75,2.80,2.91,2.86,2.80,2.80,2.79,2.83,2.81,2.51

In [42]:
data_1 = data_1.groupby(['Product Name','Units'], as_index=False).mean()
data_1

,Product Name,Units,22-Sep,22-Oct,22-Nov,22-Dec,23-Jan,23-Feb,23-Mar,23-Apr,23-May,23-Jun,23-Jul,23-Aug,23-Sep
0,Barley 4 5,Dollars per metric tonne,278.162,298.383,313.596,318.239,323.307,320.666,323.907,317.066,315.317,302.018,295.378,277.020,263.922
1,Barley for animal feed,Dollars per metric tonne,133.415,140.182,146.394,149.656,149.479,149.252,147.527,148.237,149.851,146.695,146.269,132.451,117.937
2,Barley for malt and other human consumption,Dollars per metric tonne,36.494,115.233,121.239,123.562,125.529,124.442,123.441,122.817,126.370,125.631,127.675,37.888,109.405
3,Calves for feeding 6,Dollars per hundredweight,226.344,229.146,223.092,220.368,223.728,244.935,265.044,272.299,293.158,294.243,301.143,320.720,339.880
4,Calves for slaughter 6,Dollars per hundredweight,201.282,207.725,203.292,201.634,202.374,217.861,232.286,242.159,255.508,260.853,264.280,272.156,284.139
5,Canary seeds,Dollars per metric tonne,0.000,89.848,88.204,89.694,0.000,0.000,83.917,0.000,0.000,0.000,0.000,0.000,0.000
6,Canola (including rapeseed),Dollars per metric tonne,495.874,500.529,521.835,515.038,535.143,504.488,491.616,477.662,457.325,451.628,467.818,461.923,456.291
7,Cattle for feeding 6 8,Dollars per hundredweight,202.298,199.319,192.786,184.720,201.272,221.423,225.735,231.743,252.381,257.378,265.248,271.589,277.346
8,Cattle for slaughter 6,Dollars per hundredweight,144.525,141.056,139.621,138.128,140.162,146.360,157.489,167.400,175.487,187.091,184.301,180.422,180.983
9,Chickens for meat 10 11,Dollars per kilogram,2.690,2.677,2.646,2.681,2.697,2.684,2.687,2.711,2.684,2.672,2.670,2.621,2.634
10,Corn for grain,Dollars per metric tonne,103.807,99.090,99.560,99.813,101.492,103.044,100.521,100.050,96.297,93.087,91.600,88.271,88.610
11,Cows for slaughter,Dollars per hundredweight,92.548,90.222,80.905,77.430,85.342,93.493,106.856,112.138,119.969,126.858,124.159,123.305,122.142
12,Dry peas,Dollars per metric tonne,131.937,130.302,138.075,140.436,142.418,141.266,140.234,134.286,128.915,122.516,118.160,112.896,116.766
13,Durum wheat,Dollars per metric tonne,92.538,93.918,93.989,97.833,99.078,97.057,94.750,93.381,91.072,84.559,83.882,100.101,103.680
14,Eggs in shell 13,Dollars per dozen,2.298,2.299,2.295,2.294,2.299,2.360,2.353,2.347,2.347,2.349,2.353,2.360,2.328
15,Flaxseed,Dollars per metric tonne,77.140,98.402,175.160,170.475,228.118,216.781,216.506,203.352,182.669,119.449,120.703,114.461,58.701
16,Fresh potatoes,Dollars per hundredweight,21.148,21.317,21.404,22.362,22.173,21.931,20.125,18.806,17.939,17.010,11.194,0.000,0.000
17,Fresh potatoes for processing,Dollars per hundredweight,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
18,Fresh potatoes for seed,Dollars per hundredweight,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
19,Fresh potatoes for table consumption,Dollars per hundredweight,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20,Heifers for feeding,Dollars per hundredweight,85.788,82.903,80.071,80.983,84.410,85.766,91.511,97.329,101.046,105.188,108.614,115.087,119.580
21,Heifers for slaughter,Dollars per hundredweight,162.201,162.023,164.473,167.912,171.786,176.511,187.418,197.698,206.640,218.655,213.702,209.461,209.379
22,Hogs 9,Dollars per hundredweight,124.550,122.278,117.273,108.573,103.209,102.572,108.993,101.783,104.028,111.655,126.272,130.089,117.052
23,Lambs 6 7,Dollars per hundredweight,177.874,185.359,193.304,200.655,194.864,196.002,226.672,248.953,243.754,222.391,199.073,192.079,199.641
24,Lentils,Dollars per metric tonne,146.430,148.365,157.342,156.462,157.641,156.720,152.392,163.523,169.400,162.989,153.121,157.653,170.621
25,Oats,Dollars per metric tonne,309.690,331.545,310.453,309.318,309.565,294.620,280.246,272.919,271.666,253.935,250.906,265.287,274.029
26,Rye,Dollars per metric tonne,121.873,120.268,60.948,128.978,97.528,90.739,98.995,95.896,27.515,62.094,34.714,96.978,0.000
27,Soybeans,Dollars per metric tonne,269.566,264.778,275.428,287.095,282.917,287.250,286.229,285.210,277.862,265.814,262.022,258.770,311.017
28,Steers for feeding,Dollars per hundredweight,192.183,191.343,187.025,186.354,197.966,205.354,213.796,226.718,232.331,238.555,249.408,258.800,266.857
29,Steers for slaughter,Dollars per hundredweight,171.370,170.625,174.063,177.719,181.255,187.010,197.941,209.525,217.615,231.917,225.798,221.200,220.919
30,Turkeys for meat 11,Dollars per kilogram,2.470,2.501,2.505,2.488,2.477,2.493,2.508,2.525,2.539,2.515,2.486,2.461,2.454
31,Unprocessed milk from bovine 12,Dollars per kilolitre,796.769,827.878,833.553,836.928,824.981,829.803,834.721,804.433,795.920,781.082,775.607,789.213,805.498
32,Wheat (except durum wheat) 3,Dollars per metric tonne,300.434,312.084,320.168,324.489,325.818,324.176,320.086,313.726,308.190,298.452,300.935,286.453,278.647
33,"Wheat (except durum wheat), milling",Dollars per metric tonne,166.229,166.467,175.478,175.306,173.974,172.570,168.949,165.793,160.552,157.178,159.919,153.979,146.131
34,"Wheat (except durum wheat), other",Dollars per metric tonne,152.940,156.603,171.700,174.507,179.171,180.625,187.412,136.142,159.689,161.390,155.240,152.548,147.098

In [43]:
data_1['Product Name'] = data_1['Product Name'].str.replace('\d+', '')
data_1

/var/folders/_l/rvfsqjvn4fl7npqhjz_rd08h0000gn/T/ipykernel_4579/2155233169.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_1['Product Name'] = data_1['Product Name'].str.replace('\d+', '')

,Product Name,Units,22-Sep,22-Oct,22-Nov,22-Dec,23-Jan,23-Feb,23-Mar,23-Apr,23-May,23-Jun,23-Jul,23-Aug,23-Sep
0,Barley,Dollars per metric tonne,278.162,298.383,313.596,318.239,323.307,320.666,323.907,317.066,315.317,302.018,295.378,277.020,263.922
1,Barley for animal feed,Dollars per metric tonne,133.415,140.182,146.394,149.656,149.479,149.252,147.527,148.237,149.851,146.695,146.269,132.451,117.937
2,Barley for malt and other human consumption,Dollars per metric tonne,36.494,115.233,121.239,123.562,125.529,124.442,123.441,122.817,126.370,125.631,127.675,37.888,109.405
3,Calves for feeding,Dollars per hundredweight,226.344,229.146,223.092,220.368,223.728,244.935,265.044,272.299,293.158,294.243,301.143,320.720,339.880
4,Calves for slaughter,Dollars per hundredweight,201.282,207.725,203.292,201.634,202.374,217.861,232.286,242.159,255.508,260.853,264.280,272.156,284.139
5,Canary seeds,Dollars per metric tonne,0.000,89.848,88.204,89.694,0.000,0.000,83.917,0.000,0.000,0.000,0.000,0.000,0.000
6,Canola (including rapeseed),Dollars per metric tonne,495.874,500.529,521.835,515.038,535.143,504.488,491.616,477.662,457.325,451.628,467.818,461.923,456.291
7,Cattle for feeding,Dollars per hundredweight,202.298,199.319,192.786,184.720,201.272,221.423,225.735,231.743,252.381,257.378,265.248,271.589,277.346
8,Cattle for slaughter,Dollars per hundredweight,144.525,141.056,139.621,138.128,140.162,146.360,157.489,167.400,175.487,187.091,184.301,180.422,180.983
9,Chickens for meat,Dollars per kilogram,2.690,2.677,2.646,2.681,2.697,2.684,2.687,2.711,2.684,2.672,2.670,2.621,2.634
10,Corn for grain,Dollars per metric tonne,103.807,99.090,99.560,99.813,101.492,103.044,100.521,100.050,96.297,93.087,91.600,88.271,88.610
11,Cows for slaughter,Dollars per hundredweight,92.548,90.222,80.905,77.430,85.342,93.493,106.856,112.138,119.969,126.858,124.159,123.305,122.142
12,Dry peas,Dollars per metric tonne,131.937,130.302,138.075,140.436,142.418,141.266,140.234,134.286,128.915,122.516,118.160,112.896,116.766
13,Durum wheat,Dollars per metric tonne,92.538,93.918,93.989,97.833,99.078,97.057,94.750,93.381,91.072,84.559,83.882,100.101,103.680
14,Eggs in shell,Dollars per dozen,2.298,2.299,2.295,2.294,2.299,2.360,2.353,2.347,2.347,2.349,2.353,2.360,2.328
15,Flaxseed,Dollars per metric tonne,77.140,98.402,175.160,170.475,228.118,216.781,216.506,203.352,182.669,119.449,120.703,114.461,58.701
16,Fresh potatoes,Dollars per hundredweight,21.148,21.317,21.404,22.362,22.173,21.931,20.125,18.806,17.939,17.010,11.194,0.000,0.000
17,Fresh potatoes for processing,Dollars per hundredweight,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
18,Fresh potatoes for seed,Dollars per hundredweight,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
19,Fresh potatoes for table consumption,Dollars per hundredweight,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20,Heifers for feeding,Dollars per hundredweight,85.788,82.903,80.071,80.983,84.410,85.766,91.511,97.329,101.046,105.188,108.614,115.087,119.580
21,Heifers for slaughter,Dollars per hundredweight,162.201,162.023,164.473,167.912,171.786,176.511,187.418,197.698,206.640,218.655,213.702,209.461,209.379
22,Hogs,Dollars per hundredweight,124.550,122.278,117.273,108.573,103.209,102.572,108.993,101.783,104.028,111.655,126.272,130.089,117.052
23,Lambs,Dollars per hundredweight,177.874,185.359,193.304,200.655,194.864,196.002,226.672,248.953,243.754,222.391,199.073,192.079,199.641
24,Lentils,Dollars per metric tonne,146.430,148.365,157.342,156.462,157.641,156.720,152.392,163.523,169.400,162.989,153.121,157.653,170.621
25,Oats,Dollars per metric tonne,309.690,331.545,310.453,309.318,309.565,294.620,280.246,272.919,271.666,253.935,250.906,265.287,274.029
26,Rye,Dollars per metric tonne,121.873,120.268,60.948,128.978,97.528,90.739,98.995,95.896,27.515,62.094,34.714,96.978,0.000
27,Soybeans,Dollars per metric tonne,269.566,264.778,275.428,287.095,282.917,287.250,286.229,285.210,277.862,265.814,262.022,258.770,311.017
28,Steers for feeding,Dollars per hundredweight,192.183,191.343,187.025,186.354,197.966,205.354,213.796,226.718,232.331,238.555,249.408,258.800,266.857
29,Steers for slaughter,Dollars per hundredweight,171.370,170.625,174.063,177.719,181.255,187.010,197.941,209.525,217.615,231.917,225.798,221.200,220.919
30,Turkeys for meat,Dollars per kilogram,2.470,2.501,2.505,2.488,2.477,2.493,2.508,2.525,2.539,2.515,2.486,2.461,2.454
31,Unprocessed milk from bovine,Dollars per kilolitre,796.769,827.878,833.553,836.928,824.981,829.803,834.721,804.433,795.920,781.082,775.607,789.213,805.498
32,Wheat (except durum wheat),Dollars per metric tonne,300.434,312.084,320.168,324.489,325.818,324.176,320.086,313.726,308.190,298.452,300.935,286.453,278.647
33,"Wheat (except durum wheat), milling",Dollars per metric tonne,166.229,166.467,175.478,175.306,173.974,172.570,168.949,165.793,160.552,157.178,159.919,153.979,146.131
34,"Wheat (except durum wheat), other",Dollars per metric tonne,152.940,156.603,171.700,174.507,179.171,180.625,187.412,136.142,159.689,161.390,155.240,152.548,147.098