### Objectives:
- Identify data sources for all variables of interest. Categories based on https://www.canada.ca/en/health-canada/services/publications/food-nutrition/2019-canada-food-guide-food-classification-system-foods-beverages-categories.html 
    - vegetables and fruit
        - fruit
        - vegetables
    - grains
        - whole grains
        - whole grain and whole wheat foods
    - plant-based protein foods
        - plant-based yogurts
        - fortified plant-based cheeses
        - legumes
        - simulated meats
        - nuts and seeds
        - other plant-based foods
    - animal-based protein foods
        - yogurts and kefir
        - cheeses
        - other milk-based foods
        - red meats
            - beef
            - pork
            - lamb
            - goat
        - game meats
        - poultry
            - chicken
            - turkey
        - eggs
        - fish and shellfish
        - organ meats
    - beverages
        - water
        - fortified plant-based beverages 
        - non-fortified plant-based beverages
        - milks
        - fruit juice
        - vegetable juice
        - coffee
        - tea
        - soda
    - other foods
        - condiments, sauces, dressings
        - snack foods
        - processed meats
    - fats and oils
        - unsaturated fats and oils
        - saturated and trans fats and oils
    - unclassified foods
        - meal replacements
        - alcoholic beverages
        - herbs and spices
- acquire 2023 monthly averages for each variable
- where possible, extract and isolate the following variables:
    - category (if available)
    - product
    - product type (if applicable)
    - unit of measurement
    - unit quantity
    - price per unit
    - date
    - location (if available)

Resources:
- https://www.statcan.gc.ca/en/statistical-programs/document/2301_D68_V1 list of representative products used to calculate CPI "basket" of goods and services
- primary resource: https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=1810024501 monthly average retail prices for selected products
    - redirected to this table from data resources for red meat, dairy, produce
- supplemental resources: 
    - https://agriculture.canada.ca/en/market-information-system/rp/index-eng.cfm?action=pR&r=116&pdctc= monthly average retail prices for pork, turkey, chicken, eggs

#### Primary data source: monthly average retail prices

In [1]:
# import pandas
import pandas as pd

In [2]:
# define relative path
path = '../data_sources/raw_data'

In [3]:
# import monthly average retail prices for food and related products
monthly_avg_retail_prices_2023 = pd.read_csv(f'{path}/2023_monthly_product_averages.csv')
monthly_avg_retail_prices_2023

FileNotFoundError: [Errno 2] No such file or directory: '../data_sources/raw_data/2023_monthly_product_averages.csv'

In [4]:
# check dtypes of dataframe
monthly_avg_retail_prices_2023.dtypes

NameError: name 'monthly_avg_retail_prices_2023' is not defined

In [6]:
# filter for variables of interest
monthly_avg_retail_prices_2023 = monthly_avg_retail_prices_2023[['REF_DATE', 'GEO', 'Products', 'UOM', 'VALUE']]
monthly_avg_retail_prices_2023

,REF_DATE,GEO,Products,UOM,VALUE
0,Jan-23,Canada,"Beef stewing cuts, per kilogram",Dollars,17.52
1,Feb-23,Canada,"Beef stewing cuts, per kilogram",Dollars,17.05
2,Mar-23,Canada,"Beef stewing cuts, per kilogram",Dollars,17.08
3,Apr-23,Canada,"Beef stewing cuts, per kilogram",Dollars,18.17
4,May-23,Canada,"Beef stewing cuts, per kilogram",Dollars,19.02
...,...,...,...,...,...
10876,May-23,British Columbia,"Laundry detergent, 4.43 litres",Dollars,16.21
10877,Jun-23,British Columbia,"Laundry detergent, 4.43 litres",Dollars,16.75
10878,Jul-23,British Columbia,"Laundry detergent, 4.43 litres",Dollars,16.71
10879,Aug-23,British Columbia,"Laundry detergent, 4.43 litres",Dollars,16.22
10880,Sep-23,British Columbia,"Laundry detergent, 4.43 litres",Dollars,15.81

In [7]:
# cast products column to string
monthly_avg_retail_prices_2023 = monthly_avg_retail_prices_2023.astype({'Products':'string'})
monthly_avg_retail_prices_2023.dtypes

REF_DATE     object
GEO          object
Products     string
UOM          object
VALUE       float64
dtype: object

In [8]:
# test if product column can be split into item and units based on comma delimiter
df = monthly_avg_retail_prices_2023['Products'].str.split(',', expand = True)
df

                       0              1
0      Beef stewing cuts   per kilogram
1      Beef stewing cuts   per kilogram
2      Beef stewing cuts   per kilogram
3      Beef stewing cuts   per kilogram
4      Beef stewing cuts   per kilogram
...                  ...            ...
10876  Laundry detergent    4.43 litres
10877  Laundry detergent    4.43 litres
10878  Laundry detergent    4.43 litres
10879  Laundry detergent    4.43 litres
10880  Laundry detergent    4.43 litres

[10881 rows x 2 columns]

In [9]:
# define a new dataframe with split product/unit data
df2 = pd.concat([monthly_avg_retail_prices_2023, monthly_avg_retail_prices_2023['Products'].str.split(',', expand=True)], axis=1).drop('Products', axis=1)
df2

,REF_DATE,GEO,UOM,VALUE,0,1
0,Jan-23,Canada,Dollars,17.52,Beef stewing cuts,per kilogram
1,Feb-23,Canada,Dollars,17.05,Beef stewing cuts,per kilogram
2,Mar-23,Canada,Dollars,17.08,Beef stewing cuts,per kilogram
3,Apr-23,Canada,Dollars,18.17,Beef stewing cuts,per kilogram
4,May-23,Canada,Dollars,19.02,Beef stewing cuts,per kilogram
...,...,...,...,...,...,...
10876,May-23,British Columbia,Dollars,16.21,Laundry detergent,4.43 litres
10877,Jun-23,British Columbia,Dollars,16.75,Laundry detergent,4.43 litres
10878,Jul-23,British Columbia,Dollars,16.71,Laundry detergent,4.43 litres
10879,Aug-23,British Columbia,Dollars,16.22,Laundry detergent,4.43 litres
10880,Sep-23,British Columbia,Dollars,15.81,Laundry detergent,4.43 litres

In [10]:
# rename columns 
df2.rename(columns={'REF_DATE': 'date', 'GEO':'location', 'UOM':'price units', 'VALUE': 'price', 0: 'product', 1: 'unit'}, inplace=True)
df2

,date,location,price units,price,product,unit
0,Jan-23,Canada,Dollars,17.52,Beef stewing cuts,per kilogram
1,Feb-23,Canada,Dollars,17.05,Beef stewing cuts,per kilogram
2,Mar-23,Canada,Dollars,17.08,Beef stewing cuts,per kilogram
3,Apr-23,Canada,Dollars,18.17,Beef stewing cuts,per kilogram
4,May-23,Canada,Dollars,19.02,Beef stewing cuts,per kilogram
...,...,...,...,...,...,...
10876,May-23,British Columbia,Dollars,16.21,Laundry detergent,4.43 litres
10877,Jun-23,British Columbia,Dollars,16.75,Laundry detergent,4.43 litres
10878,Jul-23,British Columbia,Dollars,16.71,Laundry detergent,4.43 litres
10879,Aug-23,British Columbia,Dollars,16.22,Laundry detergent,4.43 litres
10880,Sep-23,British Columbia,Dollars,15.81,Laundry detergent,4.43 litres

In [11]:
df2.product.unique()

AttributeError: 'function' object has no attribute 'unique'

In [42]:
# identify products that have null values for unit quantity
df2[df2['unit'].isna()]

          date          location price units  price        product  unit
720    2023-01            Canada     Dollars   4.27  Tea (20 bags)  <NA>
721    2023-02            Canada     Dollars   4.32  Tea (20 bags)  <NA>
722    2023-03            Canada     Dollars   4.31  Tea (20 bags)  <NA>
723    2023-04            Canada     Dollars   4.35  Tea (20 bags)  <NA>
724    2023-05            Canada     Dollars   4.37  Tea (20 bags)  <NA>
...        ...               ...         ...    ...            ...   ...
10615  2023-05  British Columbia     Dollars   4.55  Tea (20 bags)  <NA>
10616  2023-06  British Columbia     Dollars   4.33  Tea (20 bags)  <NA>
10617  2023-07  British Columbia     Dollars   4.75  Tea (20 bags)  <NA>
10618  2023-08  British Columbia     Dollars   4.78  Tea (20 bags)  <NA>
10619  2023-09  British Columbia     Dollars   4.58  Tea (20 bags)  <NA>

[99 rows x 6 columns]

In [43]:
# split products with null unit quantity based on ( delimiter
df3 = pd.concat([df2, df2['product'].str.split('(', expand=True)], axis=1).drop('product', axis=1)
df3

,date,location,price units,price,unit,0,1
0,2023-01,Canada,Dollars,17.52,per kilogram,Beef stewing cuts,<NA>
1,2023-02,Canada,Dollars,17.05,per kilogram,Beef stewing cuts,<NA>
2,2023-03,Canada,Dollars,17.08,per kilogram,Beef stewing cuts,<NA>
3,2023-04,Canada,Dollars,18.17,per kilogram,Beef stewing cuts,<NA>
4,2023-05,Canada,Dollars,19.02,per kilogram,Beef stewing cuts,<NA>
...,...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,4.43 litres,Laundry detergent,<NA>
10877,2023-06,British Columbia,Dollars,16.75,4.43 litres,Laundry detergent,<NA>
10878,2023-07,British Columbia,Dollars,16.71,4.43 litres,Laundry detergent,<NA>
10879,2023-08,British Columbia,Dollars,16.22,4.43 litres,Laundry detergent,<NA>
10880,2023-09,British Columbia,Dollars,15.81,4.43 litres,Laundry detergent,<NA>

In [45]:
# compare number of rows that are not null in new split column to number of rows that were previously null in unit column
df3[df3[1].notna()]

          date          location price units  price  unit     0         1
720    2023-01            Canada     Dollars   4.27  <NA>  Tea   20 bags)
721    2023-02            Canada     Dollars   4.32  <NA>  Tea   20 bags)
722    2023-03            Canada     Dollars   4.31  <NA>  Tea   20 bags)
723    2023-04            Canada     Dollars   4.35  <NA>  Tea   20 bags)
724    2023-05            Canada     Dollars   4.37  <NA>  Tea   20 bags)
...        ...               ...         ...    ...   ...   ...       ...
10615  2023-05  British Columbia     Dollars   4.55  <NA>  Tea   20 bags)
10616  2023-06  British Columbia     Dollars   4.33  <NA>  Tea   20 bags)
10617  2023-07  British Columbia     Dollars   4.75  <NA>  Tea   20 bags)
10618  2023-08  British Columbia     Dollars   4.78  <NA>  Tea   20 bags)
10619  2023-09  British Columbia     Dollars   4.58  <NA>  Tea   20 bags)

[99 rows x 7 columns]

In [46]:
# fill null unit values with values split based on "(" delimiter
df3['unit'] = df3['unit'].fillna(df3[1])

In [53]:
# drop split column
df3.drop(1, axis=1, inplace=True)
df3

,date,location,price units,price,unit,0
0,2023-01,Canada,Dollars,17.52,per kilogram,Beef stewing cuts
1,2023-02,Canada,Dollars,17.05,per kilogram,Beef stewing cuts
2,2023-03,Canada,Dollars,17.08,per kilogram,Beef stewing cuts
3,2023-04,Canada,Dollars,18.17,per kilogram,Beef stewing cuts
4,2023-05,Canada,Dollars,19.02,per kilogram,Beef stewing cuts
...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,4.43 litres,Laundry detergent
10877,2023-06,British Columbia,Dollars,16.75,4.43 litres,Laundry detergent
10878,2023-07,British Columbia,Dollars,16.71,4.43 litres,Laundry detergent
10879,2023-08,British Columbia,Dollars,16.22,4.43 litres,Laundry detergent
10880,2023-09,British Columbia,Dollars,15.81,4.43 litres,Laundry detergent

In [56]:
# rename product column
df3.rename(columns={0:'product'}, inplace=True)
df3

,date,location,price units,price,unit,product
0,2023-01,Canada,Dollars,17.52,per kilogram,Beef stewing cuts
1,2023-02,Canada,Dollars,17.05,per kilogram,Beef stewing cuts
2,2023-03,Canada,Dollars,17.08,per kilogram,Beef stewing cuts
3,2023-04,Canada,Dollars,18.17,per kilogram,Beef stewing cuts
4,2023-05,Canada,Dollars,19.02,per kilogram,Beef stewing cuts
...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,4.43 litres,Laundry detergent
10877,2023-06,British Columbia,Dollars,16.75,4.43 litres,Laundry detergent
10878,2023-07,British Columbia,Dollars,16.71,4.43 litres,Laundry detergent
10879,2023-08,British Columbia,Dollars,16.22,4.43 litres,Laundry detergent
10880,2023-09,British Columbia,Dollars,15.81,4.43 litres,Laundry detergent

In [72]:
df4 = pd.concat([df3, df3['unit'].str.split(' ', expand=True)], axis=1).drop('unit', axis=1)
df4

,date,location,price units,price,product,0,1,2,3
0,2023-01,Canada,Dollars,17.52,Beef stewing cuts,,per,kilogram,<NA>
1,2023-02,Canada,Dollars,17.05,Beef stewing cuts,,per,kilogram,<NA>
2,2023-03,Canada,Dollars,17.08,Beef stewing cuts,,per,kilogram,<NA>
3,2023-04,Canada,Dollars,18.17,Beef stewing cuts,,per,kilogram,<NA>
4,2023-05,Canada,Dollars,19.02,Beef stewing cuts,,per,kilogram,<NA>
...,...,...,...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,Laundry detergent,,4.43,litres,<NA>
10877,2023-06,British Columbia,Dollars,16.75,Laundry detergent,,4.43,litres,<NA>
10878,2023-07,British Columbia,Dollars,16.71,Laundry detergent,,4.43,litres,<NA>
10879,2023-08,British Columbia,Dollars,16.22,Laundry detergent,,4.43,litres,<NA>
10880,2023-09,British Columbia,Dollars,15.81,Laundry detergent,,4.43,litres,<NA>

In [74]:
col3 = df4[3]
col3

0        <NA>
1        <NA>
2        <NA>
3        <NA>
4        <NA>
         ...
10876    <NA>
10877    <NA>
10878    <NA>
10879    <NA>
10880    <NA>
Name: 3, Length: 10881, dtype: string

In [78]:
col3.unique()

<StringArray>
[<NA>, '']
Length: 2, dtype: string

In [ ]:
# split units into unit and unit quantity
for unit in ['kilogram', 'litre', 'litres', 'gram', 'grams', 'dozen', 'millilitres', 'bags']:

In [23]:
# # split products column into product and quantity based on comma delimiter
# data_split = pd.DataFrame(
#     [x.rsplit(', ', 1) for x in monthly_avg_retail_prices_2023.Products.tolist()], 
#     columns=['product', 'unit_quantity']
# )
# data_split

                 product unit_quantity
0      Beef stewing cuts  per kilogram
1      Beef stewing cuts  per kilogram
2      Beef stewing cuts  per kilogram
3      Beef stewing cuts  per kilogram
4      Beef stewing cuts  per kilogram
...                  ...           ...
10876  Laundry detergent   4.43 litres
10877  Laundry detergent   4.43 litres
10878  Laundry detergent   4.43 litres
10879  Laundry detergent   4.43 litres
10880  Laundry detergent   4.43 litres

[10881 rows x 2 columns]

### Identify unique vector IDs that may be usable in API data acquisition

In [7]:
# generate a list of unique products in monthly retail averages table
vector_list = monthly_avg_retail_prices_2023['VECTOR'].unique().tolist()
vector_list

['v1353834271',
 'v1353834272',
 'v1353834273',
 'v1353834311',
 'v1353834274',
 'v1353834275',
 'v1353834276',
 'v1353834312',
 'v1353834277',
 'v1353834278',
 'v1353834279',
 'v1353834313',
 'v1353834280',
 'v1353834281',
 'v1458869929',
 'v1458869931',
 'v1353834314',
 'v1353834282',
 'v1458869922',
 'v1353834283',
 'v1353834284',
 'v1353834285',
 'v1458869932',
 'v1458869923',
 'v1353834286',
 'v1353834287',
 'v1458869921',
 'v1353834288',
 'v1353834289',
 'v1353834290',
 'v1353834291',
 'v1353834292',
 'v1353834293',
 'v1353834294',
 'v1353834295',
 'v1353834296',
 'v1353834315',
 'v1353834297',
 'v1353834298',
 'v1458869934',
 'v1353834299',
 'v1353834300',
 'v1353834316',
 'v1353834317',
 'v1353834301',
 'v1353834302',
 'v1353834303',
 'v1353834304',
 'v1353834305',
 'v1353834306',
 'v1353834307',
 'v1353834308',
 'v1353834318',
 'v1353834319',
 'v1353834309',
 'v1353834310',
 'v1458869933',
 'v1458869928',
 'v1353834320',
 'v1353834321',
 'v1353834322',
 'v1353834323',
 'v1353834324',
 'v1353834325',
 'v1458869915',
 'v1458869916',
 'v1458869917',
 'v1353834326',
 'v1458869914',
 'v1458869912',
 'v1458869911',
 'v1353834327',
 'v1458869906',
 'v1458869937',
 'v1353834328',
 'v1353834329',
 'v1353834330',
 'v1353834331',
 'v1353834332',
 'v1353834333',
 'v1353834334',
 'v1353834335',
 'v1353834336',
 'v1458869910',
 'v1458869924',
 'v1353834337',
 'v1458869919',
 'v1353834338',
 'v1353834339',
 'v1353834340',
 'v1353834341',
 'v1353834342',
 'v1353834343',
 'v1458869907',
 'v1458869908',
 'v1458869909',
 'v1353834344',
 'v1458869913',
 'v1458869936',
 'v1458869918',
 'v1458869930',
 'v1458869925',
 'v1458869927',
 'v1458869905',
 'v1458869926',
 'v1458869935',
 'v1353834345',
 'v1353834346',
 'v1353834347',
 'v1458869920',
 'v1159446976',
 'v1159446977',
 'v1159446978',
 'v1353834348',
 'v1159446979',
 'v1159446980',
 'v1159446981',
 'v1353834349',
 'v1159446982',
 'v1159446983',
 'v1159446984',
 'v1353834350',
 'v1159446985',
 'v1159446986',
 'v1458869962',
 'v1458869964',
 'v1353834351',
 'v1159446987',
 'v1458869955',
 'v1159446988',
 'v1159446989',
 'v1458869965',
 'v1458869956',
 'v1159446990',
 'v1159446991',
 'v1458869954',
 'v1159446992',
 'v1159446993',
 'v1159446994',
 'v1159446995',
 'v1159446996',
 'v1159446997',
 'v1159446998',
 'v1159446999',
 'v1159447000',
 'v1353834352',
 'v1159447001',
 'v1159447002',
 'v1458869967',
 'v1159447003',
 'v1159447004',
 'v1353834353',
 'v1353834354',
 'v1159447005',
 'v1159447006',
 'v1159447007',
 'v1159447008',
 'v1159447009',
 'v1159447010',
 'v1159447011',
 'v1159447012',
 'v1353834355',
 'v1353834717',
 'v1159447013',
 'v1159447014',
 'v1458869966',
 'v1458869961',
 'v1353834356',
 'v1353834357',
 'v1353834358',
 'v1353834359',
 'v1353834360',
 'v1353834361',
 'v1458869948',
 'v1458869949',
 'v1458869950',
 'v1353834362',
 'v1458869947',
 'v1458869945',
 'v1458869944',
 'v1353834363',
 'v1458869939',
 'v1458869970',
 'v1353834364',
 'v1353834365',
 'v1353834366',
 'v1353834367',
 'v1353834368',
 'v1353834369',
 'v1353834370',
 'v1353834371',
 'v1353834372',
 'v1458869943',
 'v1458869957',
 'v1353834373',
 'v1458869952',
 'v1353834374',
 'v1353834375',
 'v1353834376',
 'v1353834377',
 'v1353834378',
 'v1353834379',
 'v1458869940',
 'v1458869941',
 'v1458869942',
 'v1353834380',
 'v1458869946',
 'v1458869969',
 'v1458869951',
 'v1458869963',
 'v1458869958',
 'v1458869960',
 'v1458869938',
 'v1458869959',
 'v1458869968',
 'v1353834381',
 'v1353834382',
 'v1353834383',
 'v1458869953',
 'v1159447015',
 'v1159447016',
 'v1159447017',
 'v1353834384',
 'v1159447018',
 'v1159447019',
 'v1159447020',
 'v1353834385',
 'v1159447021',
 'v1159447022',
 'v1159447023',
 'v1353834386',
 'v1159447024',
 'v1159447025',
 'v1458869995',
 'v1458869997',
 'v1353834387',
 'v1159447026',
 'v1458869988',
 'v1159447027',
 'v1159447028',
 'v1159447029',
 'v1458869998',
 'v1458869989',
 'v1159447030',
 'v1159447031',
 'v1458869987',
 'v1159447032',
 'v1159447033',
 'v1159447034',
 'v1159447035',
 'v1159447036',
 'v1159447037',
 'v1159447038',
 'v1159447039',
 'v1159447040',
 'v1353834388',
 'v1159447041',
 'v1159447042',
 'v1458870000',
 'v1159447043',
 'v1159447044',
 'v1353834389',
 'v1353834390',
 'v1159447045',
 'v1159447046',
 'v1159447047',
 'v1159447048',
 'v1159447049',
 'v1159447050',
 'v1159447051',
 'v1159447052',
 'v1353834391',
 'v1353834392',
 'v1159447053',
 'v1159447054',
 'v1458869999',
 'v1458869994',
 'v1353834393',
 'v1353834394',
 'v1353834395',
 'v1353834396',
 'v1353834397',
 'v1353834398',
 'v1458869981',
 'v1458869982',
 'v1458869983',
 'v1353834399',
 'v1458869980',
 'v1458869978',
 'v1458869977',
 'v1353834400',
 'v1458869972',
 'v1458870003',
 'v1353834401',
 'v1353834402',
 'v1353834403',
 'v1353834404',
 'v1353834405',
 'v1353834406',
 'v1353834407',
 'v1353834408',
 'v1353834409',
 'v1458869976',
 'v1458869990',
 'v1353834410',
 'v1458869985',
 'v1353834411',
 'v1353834412',
 'v1353834413',
 'v1353834414',
 'v1353834415',
 'v1353834416',
 'v1458869973',
 'v1458869974',
 'v1458869975',
 'v1353834417',
 'v1458869979',
 'v1458870002',
 'v1458869984',
 'v1458869996',
 'v1458869991',
 'v1458869993',
 'v1458869971',
 'v1458869992',
 'v1458870001',
 'v1353834418',
 'v1353834419',
 'v1353834420',
 'v1458869986',
 'v1159447055',
 'v1159447056',
 'v1159447057',
 'v1353834421',
 'v1159447058',
 'v1159447059',
 'v1159447060',
 'v1353834422',
 'v1159447061',
 'v1159447062',
 'v1159447063',
 'v1353834423',
 'v1159447064',
 'v1159447065',
 'v1458870028',
 'v1458870030',
 'v1353834424',
 'v1159447066',
 'v1458870021',
 'v1159447067',
 'v1159447068',
 'v1159447069',
 'v1458870031',
 'v1458870022',
 'v1159447070',
 'v1159447071',
 'v1458870020',
 'v1159447072',
 'v1159447073',
 'v1159447074',
 'v1159447075',
 'v1159447076',
 'v1159447077',
 'v1159447078',
 'v1159447079',
 'v1159447080',
 'v1353834425',
 'v1159447081',
 'v1159447082',
 'v1458870033',
 'v1159447083',
 'v1159447084',
 'v1353834426',
 'v1353834427',
 'v1159447085',
 'v1159447086',
 'v1159447087',
 'v1159447088',
 'v1159447089',
 'v1159447090',
 'v1159447091',
 'v1159447092',
 'v1353834428',
 'v1353834429',
 'v1159447093',
 'v1159447094',
 'v1458870032',
 'v1458870027',
 'v1353834430',
 'v1353834431',
 'v1353834432',
 'v1353834433',
 'v1353834434',
 'v1353834435',
 'v1458870014',
 'v1458870015',
 'v1458870016',
 'v1353834436',
 'v1458870013',
 'v1458870011',
 'v1458870010',
 'v1353834437',
 'v1458870005',
 'v1458870036',
 'v1353834438',
 'v1353834439',
 'v1353834440',
 'v1353834441',
 'v1353834442',
 'v1353834443',
 'v1353834444',
 'v1353834445',
 'v1353834446',
 'v1458870009',
 'v1458870023',
 'v1353834447',
 'v1458870018',
 'v1353834448',
 'v1353834449',
 'v1353834450',
 'v1353834451',
 'v1353834452',
 'v1353834453',
 'v1458870006',
 'v1458870007',
 'v1458870008',
 'v1353834454',
 'v1458870012',
 'v1458870035',
 'v1458870017',
 'v1458870029',
 'v1458870024',
 'v1458870026',
 'v1458870004',
 'v1458870025',
 'v1458870034',
 'v1353834455',
 'v1353834456',
 'v1353834457',
 'v1458870019',
 'v1159447095',
 'v1159447096',
 'v1159447097',
 'v1353834458',
 'v1159447098',
 'v1159447099',
 'v1159447100',
 'v1353834459',
 'v1159447101',
 'v1159447102',
 'v1159447103',
 'v1353834460',
 'v1159447104',
 'v1159447105',
 'v1458870061',
 'v1458870063',
 'v1353834461',
 'v1159447106',
 'v1458870054',
 'v1159447107',
 'v1159447108',
 'v1159447109',
 'v1458870064',
 'v1458870055',
 'v1159447110',
 'v1159447111',
 'v1458870053',
 'v1159447112',
 'v1159447113',
 'v1159447114',
 'v1159447115',
 'v1159447116',
 'v1159447117',
 'v1159447118',
 'v1159447119',
 'v1159447120',
 'v1353834462',
 'v1159447121',
 'v1159447122',
 'v1458870066',
 'v1159447123',
 'v1159447124',
 'v1353834463',
 'v1353834464',
 'v1159447125',
 'v1159447126',
 'v1159447127',
 'v1159447128',
 'v1159447129',
 'v1159447130',
 'v1159447131',
 'v1159447132',
 'v1353834465',
 'v1353834466',
 'v1159447133',
 'v1159447134',
 'v1458870065',
 'v1458870060',
 'v1353834467',
 'v1353834468',
 'v1353834469',
 'v1353834470',
 'v1353834471',
 'v1353834472',
 'v1458870047',
 'v1458870048',
 'v1458870049',
 'v1353834473',
 'v1458870046',
 'v1458870044',
 'v1458870043',
 'v1353834474',
 'v1458870038',
 'v1458870069',
 'v1353834475',
 'v1353834476',
 'v1353834477',
 'v1353834478',
 'v1353834479',
 'v1353834480',
 'v1353834481',
 'v1353834482',
 'v1353834483',
 'v1458870042',
 'v1458870056',
 'v1353834484',
 'v1458870051',
 'v1353834485',
 'v1353834486',
 'v1353834487',
 'v1353834488',
 'v1353834489',
 'v1353834490',
 'v1458870039',
 'v1458870040',
 'v1458870041',
 'v1353834491',
 'v1458870045',
 'v1458870068',
 'v1458870050',
 'v1458870062',
 'v1458870057',
 'v1458870059',
 'v1458870037',
 'v1458870058',
 'v1458870067',
 'v1353834492',
 'v1353834493',
 'v1353834494',
 'v1458870052',
 'v1159447135',
 'v1159447136',
 'v1159447137',
 'v1353834495',
 'v1159447138',
 'v1159447139',
 'v1159447140',
 'v1353834496',
 'v1159447141',
 'v1159447142',
 'v1159447143',
 'v1353834497',
 'v1159447144',
 'v1159447145',
 'v1458870094',
 'v1458870096',
 'v1353834498',
 'v1159447146',
 'v1458870087',
 'v1159447147',
 'v1159447148',
 'v1159447149',
 'v1458870097',
 'v1458870088',
 'v1159447150',
 'v1159447151',
 'v1458870086',
 'v1159447152',
 'v1159447153',
 'v1159447154',
 'v1159447155',
 'v1159447156',
 'v1159447157',
 'v1159447158',
 'v1159447159',
 'v1159447160',
 'v1353834499',
 'v1159447161',
 'v1159447162',
 'v1458870099',
 'v1159447163',
 'v1159447164',
 'v1353834500',
 'v1353834501',
 'v1159447165',
 'v1159447166',
 'v1159447167',
 'v1159447168',
 'v1159447169',
 'v1159447170',
 'v1159447171',
 'v1159447172',
 'v1353834502',
 'v1353834503',
 'v1159447173',
 'v1159447174',
 'v1458870098',
 'v1458870093',
 'v1353834504',
 'v1353834505',
 'v1353834506',
 'v1353834507',
 'v1353834508',
 'v1353834509',
 'v1458870080',
 'v1458870081',
 'v1458870082',
 'v1353834510',
 'v1458870079',
 'v1458870077',
 'v1458870076',
 'v1353834511',
 'v1458870071',
 'v1458870102',
 'v1353834512',
 'v1353834513',
 'v1353834514',
 'v1353834515',
 'v1353834516',
 'v1353834517',
 'v1353834518',
 'v1353834519',
 'v1353834520',
 'v1458870075',
 'v1458870089',
 'v1353834521',
 'v1458870084',
 'v1353834522',
 'v1353834523',
 'v1353834524',
 'v1353834525',
 'v1353834526',
 'v1353834527',
 'v1458870072',
 'v1458870073',
 'v1458870074',
 'v1353834528',
 'v1458870078',
 'v1458870101',
 'v1458870083',
 'v1458870095',
 'v1458870090',
 'v1458870092',
 'v1458870070',
 'v1458870091',
 'v1458870100',
 'v1353834529',
 'v1353834530',
 'v1353834531',
 'v1458870085',
 'v1159447175',
 'v1159447176',
 'v1159447177',
 'v1353834532',
 'v1159447178',
 'v1159447179',
 'v1159447180',
 'v1353834533',
 'v1159447181',
 'v1159447182',
 'v1159447183',
 'v1353834534',
 'v1159447184',
 'v1159447185',
 'v1458870127',
 'v1458870129',
 'v1353834535',
 'v1159447186',
 'v1458870120',
 'v1159447187',
 'v1159447188',
 'v1159447189',
 'v1458870130',
 'v1458870121',
 'v1159447190',
 'v1159447191',
 'v1458870119',
 'v1159447192',
 'v1159447193',
 'v1159447194',
 'v1159447195',
 'v1159447196',
 'v1159447197',
 'v1159447198',
 'v1159447199',
 'v1159447200',
 'v1353834536',
 'v1159447201',
 'v1159447202',
 'v1458870132',
 'v1159447203',
 'v1159447204',
 'v1353834537',
 'v1353834538',
 'v1159447205',
 'v1159447206',
 'v1159447207',
 'v1159447208',
 'v1159447209',
 'v1159447210',
 'v1159447211',
 'v1159447212',
 'v1353834539',
 'v1353834540',
 'v1159447213',
 'v1159447214',
 'v1458870131',
 'v1458870126',
 'v1353834541',
 'v1353834542',
 'v1353834543',
 'v1353834544',
 'v1353834545',
 'v1353834546',
 'v1458870113',
 'v1458870114',
 'v1458870115',
 'v1353834547',
 'v1458870112',
 'v1458870110',
 'v1458870109',
 'v1353834548',
 'v1458870104',
 'v1458870135',
 'v1353834549',
 'v1353834550',
 'v1353834551',
 'v1353834552',
 'v1353834553',
 'v1353834554',
 'v1353834555',
 'v1353834556',
 'v1353834557',
 'v1458870108',
 'v1458870122',
 'v1353834558',
 'v1458870117',
 'v1353834559',
 'v1353834560',
 'v1353834561',
 'v1353834562',
 'v1353834563',
 'v1353834564',
 'v1458870105',
 'v1458870106',
 'v1458870107',
 'v1353834565',
 'v1458870111',
 'v1458870134',
 'v1458870116',
 'v1458870128',
 'v1458870123',
 'v1458870125',
 'v1458870103',
 'v1458870124',
 'v1458870133',
 'v1353834566',
 'v1353834567',
 'v1353834568',
 'v1458870118',
 'v1159447215',
 'v1159447216',
 'v1159447217',
 'v1353834569',
 'v1159447218',
 'v1159447219',
 'v1159447220',
 'v1353834570',
 'v1159447221',
 'v1159447222',
 'v1159447223',
 'v1353834571',
 'v1159447224',
 'v1159447225',
 'v1458870160',
 'v1458870162',
 'v1353834572',
 'v1159447226',
 'v1458870153',
 'v1159447227',
 'v1159447228',
 'v1159447229',
 'v1458870163',
 'v1458870154',
 'v1159447230',
 'v1159447231',
 'v1458870152',
 'v1159447232',
 'v1159447233',
 'v1159447234',
 'v1159447235',
 'v1159447236',
 'v1159447237',
 'v1159447238',
 'v1159447239',
 'v1159447240',
 'v1353834573',
 'v1159447241',
 'v1159447242',
 'v1458870165',
 'v1159447243',
 'v1159447244',
 'v1353834574',
 'v1353834575',
 'v1159447245',
 'v1159447246',
 'v1159447247',
 'v1159447248',
 'v1159447249',
 'v1159447250',
 'v1159447251',
 'v1159447252',
 'v1353834576',
 'v1353834577',
 'v1159447253',
 'v1159447254',
 'v1458870164',
 'v1458870159',
 'v1353834578',
 'v1353834579',
 'v1353834580',
 'v1353834581',
 'v1353834582',
 'v1353834583',
 'v1458870146',
 'v1458870147',
 'v1458870148',
 'v1353834584',
 'v1458870145',
 'v1458870143',
 'v1458870142',
 'v1353834585',
 'v1458870137',
 'v1458870168',
 'v1353834586',
 'v1353834587',
 'v1353834588',
 'v1353834589',
 'v1353834590',
 'v1353834591',
 'v1353834592',
 'v1353834593',
 'v1353834594',
 'v1458870141',
 'v1458870155',
 'v1353834595',
 'v1458870150',
 'v1353834596',
 'v1353834597',
 'v1353834598',
 'v1353834599',
 'v1353834600',
 'v1353834601',
 'v1458870138',
 'v1458870139',
 'v1458870140',
 'v1353834602',
 'v1458870144',
 'v1458870167',
 'v1458870149',
 'v1458870161',
 'v1458870156',
 'v1458870158',
 'v1458870136',
 'v1458870157',
 'v1458870166',
 'v1353834603',
 'v1353834604',
 'v1353834605',
 'v1458870151',
 'v1159447255',
 'v1159447256',
 'v1159447257',
 'v1353834606',
 'v1159447258',
 'v1159447259',
 'v1159447260',
 'v1353834607',
 'v1159447261',
 'v1159447262',
 'v1159447263',
 'v1353834608',
 'v1159447264',
 'v1159447265',
 'v1458870193',
 'v1458870195',
 'v1353834609',
 'v1159447266',
 'v1458870186',
 'v1159447267',
 'v1159447268',
 'v1159447269',
 'v1458870196',
 'v1458870187',
 'v1159447270',
 'v1159447271',
 'v1458870185',
 'v1159447272',
 'v1159447273',
 'v1159447274',
 'v1159447275',
 'v1159447276',
 'v1159447277',
 'v1159447278',
 'v1159447279',
 'v1159447280',
 'v1353834610',
 'v1159447281',
 'v1159447282',
 'v1458870198',
 'v1159447283',
 'v1159447284',
 'v1353834611',
 'v1353834612',
 'v1159447285',
 'v1159447286',
 'v1159447287',
 'v1159447288',
 'v1159447289',
 'v1159447290',
 'v1159447291',
 'v1159447292',
 'v1353834613',
 'v1353834614',
 'v1159447293',
 'v1159447294',
 'v1458870197',
 'v1458870192',
 'v1353834615',
 'v1353834616',
 'v1353834617',
 'v1353834618',
 'v1353834619',
 'v1353834620',
 'v1458870179',
 'v1458870180',
 'v1458870181',
 'v1353834621',
 'v1458870178',
 'v1458870176',
 'v1458870175',
 'v1353834622',
 'v1458870170',
 'v1458870201',
 'v1353834623',
 'v1353834624',
 'v1353834625',
 'v1353834626',
 'v1353834627',
 'v1353834628',
 'v1353834629',
 'v1353834630',
 'v1353834631',
 'v1458870174',
 'v1458870188',
 'v1353834632',
 'v1458870183',
 'v1353834633',
 'v1353834634',
 'v1353834635',
 'v1353834636',
 'v1353834637',
 'v1353834638',
 'v1458870171',
 'v1458870172',
 'v1458870173',
 'v1353834639',
 'v1458870177',
 'v1458870200',
 'v1458870182',
 'v1458870194',
 'v1458870189',
 'v1458870191',
 'v1458870169',
 'v1458870190',
 'v1458870199',
 'v1353834640',
 'v1353834641',
 'v1353834642',
 'v1458870184',
 'v1159447295',
 'v1159447296',
 'v1159447297',
 'v1353834643',
 'v1159447298',
 'v1159447299',
 'v1159447300',
 'v1353834644',
 'v1159447301',
 'v1159447302',
 'v1159447303',
 ...]

Identify unique product values in 2023 monthly product retail averages table:

In [ ]:
# generate a list of unique products in monthly retail averages table
product_list = df3['product'].unique().tolist()

In [ ]:
# save list of unique products in a .csv table column
product_list_df = pd.DataFrame(list(zip(*[product_list]))).add_prefix('Col')
product_list_df.to_csv('monthly_average_unique_product_list.csv', index=False)
print(product_list_df)

                      Col0
0        Beef stewing cuts
1      Beef striploin cuts
2    Beef top sirloin cuts
3            Beef rib cuts
4              Ground beef
..                     ...
100        Sunflower seeds
101              Deodorant
102             Toothpaste
103                Shampoo
104      Laundry detergent

[105 rows x 1 columns]